<!-- bloggにあるbase.htmlを引き継ぐ
base.htmlはrailsのapplication.htmlを同じようなもの -->
{% extends 'blogg/base.html' %}

{% block content %}
<br><br>
<div class="row">

  <div class="col-md-9">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">
          {{ object.content }}
        </p>
        <a class="btn" href="{% url 'blogg:like_add' object.pk %}" style="background-color:#FF6699; color:white;">お気に入りに入れる</a>
        <hr>
        <a href="{% url 'blogg:post_update' object.id %}" class="btn btn-primary">更新</a>
        <a href="{% url 'blogg:post_delete' object.id %}" class="btn btn-danger">削除</a>
      </div>
    </div>
  </div>

</div>
<br><br>
{% endblock %}